/packages/
riderModule.iml
/_ReSharper.Caches/
*.suo
*.user
*.ReSharper
_ReSharper*
*.docstates
*.sln.DotSettings
*.sln.iml
*.dotCover
*.orig
packages
.vs/
.vscode/
.idea/
.ionide/
bin/
obj/
Debug/
Release/
ClientBin/
/CommonAssemblyInfo.cs
/artifacts
/buildArtifacts
/testResults
testResults/
/_revision.txt
/NDependOut
*.dbmdl
*My.Post.Deployment.sql
databases/PS.Data.Reports/PS.Data.Reports/sql/
databases/PS.Data.Warehouse/sql/
*.ncrunch*
*crunchsolution*
TestResult.xml
specfailures.html
integrationspecfailures.html
acceptancespecfailures.html
specfailures.xml
integrationspecfailures.xml
acceptancespecfailures.xml
*.log
*psminified*
formscreds.json
uitests.config
FitNesseRoot/ErrorLogs
FitNesseRoot/RecentChanges
FitNesseRoot/files/testProgress/
*.results
*.rdb
*.sass-cache*
services/packages
node_modules
dist
Gemfile.lock
.DS_Store
tags
.npmrc
